<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-grid>
      <div class="main-content">
        <ion-row class="ion-justify-content-center">
          <ion-img class="logo" src="./assets/icon/logo.png"></ion-img>
        </ion-row>
        <ion-row>
          <ion-col class="ion-align-self-center">
            <h1 class="ion-text-center"><strong>Welcome to StitchPix</strong></h1>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-align-self-center">
            <h4 class="ion-text-center">Stich Pix helps you find fashion that looks good on your body</h4>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-align-self-center">
            <ion-button (click)="googleLogin()" expand="block" color="secondary">
              <ion-icon name="logo-google"></ion-icon> Sign Up With Google
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-start">
          <ion-col class="ion-align-self-center">
            <form [formGroup]="credentialForm">
              <ion-item>
                <ion-input placeholder="Email address" formControlName="email" autofocus="true" clearInput="true">
                </ion-input>
              </ion-item>

              <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
                <span *ngIf="email.errors?.required">Email is required</span>
                <span *ngIf="email.errors?.email">Email is invalid</span>
              </div>

              <ion-item>
                <ion-input placeholder="password" type="password" formControlName="password" clearInput="true">
                </ion-input>
              </ion-item>

              <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
                <span *ngIf="password.errors?.required">Password is required</span>
                <span *ngIf="password.errors?.minLength">Password must be at least 6 characters</span>
              </div>

              <ion-button (click)='signUp()' expand="full" size="small">Sign Up</ion-button>
            </form>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </ion-content>
</ion-content>
