<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        Log Out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background">
    <ng-container *ngIf="measurementsForm">
      <ion-grid>
        <ion-row class="ion-align-items-start">
          <ion-col size-lg="4" offset-lg="4">
            <ion-card>
              <ion-card-header class="ion-text-center">
                <ion-card-title class="light">Hold Up!</ion-card-title>
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-grid>

                  <ion-row class="ion-align-items-start">
                    <ion-col>
                      <ion-text color="light">We're here to help women find fashion that looks great on their
                        body
                        type!
                      </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row class="ion-align-items-start">
                    <ion-col>
                      <ion-text color="light">Input your information below to see real women with your
                        measurements wearing
                        clothes you'll look great in!</ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row class="ion-align-items-start">
                    <ion-col>
                      <ion-text color="light">Don't worry--our lips are sealed!</ion-text>
                    </ion-col>
                  </ion-row>
                  <div>
                    <form [formGroup]="measurementsForm">
                      <ion-item>
                        <ion-input formControlName="hips" placeholder="Hip Measurement" type="number"></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-input formControlName="waist" placeholder="Waist Measurement" type="number"></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-input formControlName="chest" placeholder="Chest Measurement" type="number"></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-grid>
                          <ion-row>
                            <ion-label position="floating">Height</ion-label>
                          </ion-row>
                          <ion-row>
                            <ion-col>
                              <ion-input formControlName="feet" type="number" placeholder="feet"></ion-input>
                            </ion-col>
                            <ion-col>
                              <ion-input formControlName="inches" type="number" placeholder="inches"></ion-input>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-item>
                      <ion-item>
                        <ion-grid>
                          <ion-list>
                            <ion-radio-group formControlName="userType">
                              <ion-list-header>I am a...</ion-list-header>
                              <ion-row>
                                <ion-col size="6">
                                  <ion-item>
                                    <ion-label>Shopper</ion-label>
                                    <ion-radio slot="start" color="secondary" value="shopper"></ion-radio>
                                  </ion-item>
                                </ion-col>
                                <ion-col size="6">
                                  <ion-item>
                                    <ion-label>Model</ion-label>
                                    <ion-radio slot="start" color="secondary" value="model"></ion-radio>
                                  </ion-item>
                                </ion-col>
                              </ion-row>
                            </ion-radio-group>
                          </ion-list>
                        </ion-grid>
                      </ion-item>
                    </form>
                    <ion-button [disabled]="!measurementsForm.valid" expand="block" size="small"
                      (click)="saveMeasurements()">Submit</ion-button>
                    <ion-text color="light" *ngIf="!measurementsForm.valid && measurementsForm.touched">All fields are
                      required
                    </ion-text>
                  </div>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
  </div>
</ion-content>
