<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        Log Out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="secondary">
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="shopper">
        <ion-label>Shoppers</ion-label>
      </ion-segment-button>
      <ion-segment-button value="model">
        <ion-label>Models</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="measurementsForm">
    <div class="background">
      <ion-grid>
        <ion-row class="ion-align-items-start">
          <ion-col size-lg="4" offset-lg="4">
            <ion-card>
              <ion-card-header class="ion-text-center">
                <ion-card-title class="light">Hold Up!</ion-card-title>
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-grid>
                  <div [ngSwitch]="segment">
                    <div *ngSwitchCase="'shopper'">
                      <ion-row class="ion-align-items-start">
                        <ion-col>
                          <ion-text color="light">We're here to help women find fashion that looks great on their
                            body
                            type!
                          </ion-text>
                        </ion-col>
                      </ion-row>
                      <ion-row class="ion-align-items-start">
                        <ion-col>
                          <ion-text color="light">Input your information below to see real women with your
                            measurements wearing
                            clothes you'll look great in!</ion-text>
                        </ion-col>
                      </ion-row>
                      <ion-row class="ion-align-items-start">
                        <ion-col>
                          <ion-text color="light">Don't worry--our lips are sealed!</ion-text>
                        </ion-col>
                      </ion-row>
                    </div>
                  </div>
                  <div [ngSwitch]="segment">
                    <div *ngSwitchCase="'model'">
                      <ion-row>
                        <ion-col>
                          <ion-text class="light">We're here to help women find fashion that looks great on their
                            body
                            type!
                          </ion-text>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <ion-text class="light">Input your information below so real women with your measurements
                            can
                            see your style!
                          </ion-text>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <ion-text class="light">We're all about body positivity here!</ion-text>
                        </ion-col>
                      </ion-row>
                    </div>
                  </div>
                  <form [formGroup]="measurementsForm">
                    <ion-item>
                      <ion-input formControlName="hips" placeholder="Hip Measurement" type="number"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-input formControlName="waist" placeholder="Waist Measurement" type="number"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-input formControlName="chest" placeholder="Chest Measurement" type="number"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-grid>
                        <ion-row>
                          <ion-label position="floating">Height</ion-label>
                        </ion-row>
                        <ion-row>
                          <ion-col>
                            <ion-input formControlName="feet" type="number" placeholder="feet"></ion-input>
                          </ion-col>
                          <ion-col>
                            <ion-input formControlName="inches" type="number" placeholder="inches"></ion-input>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-item>
                  </form>
                  <ion-button expand="block" size="small" (click)="saveMeasurements()">Submit</ion-button>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ng-container>
</ion-content>
